{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - USŁUGA{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/service_view.css') }}">
{% endblock %}

{% block body %}
  <div id="search">

    {{ form_start(szybkieSzukanieForm) }}

      <div id="wyszukaj">

        {{ form_widget(szybkieSzukanieForm.nazwaUslugi, {'attr': {'class': 'inputwyszukaj', 'placeholder': 'ZNAJDŹ COŚ, CO CIĘ INTERESUJE'}}) }}
        <button type="submit" id="btnwyszukaj">WYSZUKAJ</button>

      </div>

    {{ form_end(szybkieSzukanieForm) }}

    <div class="back"><a href="{{ path('app_skills_list') }}"><div class="backdiv"><span class="backarrow">&#10094;</span>&nbsp;&nbsp;&nbsp;WRÓĆ</div></a></div>
    
  </div>

  <div class="alerts">
  
    {% for flash_msg in app.flashes('success') %}
      <div class="success">{{ flash_msg|upper }}</div>
    {% endfor %}

    {% for flash_msg in app.flashes('error') %}
      <div class="error">{{ flash_msg|upper }}</div>
    {% endfor %}
  
  </div>

  <div id="serviceinfos">
  
    <div class="serviceinfo">

      <div class="photoslider">
      
        <div class="slideshow-container">

          {% for zdjecie in zdjecia %}
            <div class="mySlides fade">
              <div class="numbertext">{{ loop.index }} / {{ zdjecia|length }}</div>
              <img class="zjdecie" src="{{ asset('zdjeciaUslug/' ~ usluga.uzytkownik.id ~ '/' ~ usluga.id ~ '/' ~ zdjecie) }}" alt="Zdjęcie usługi">
            </div>
          {% else %}
              <li>Brak zdjęć dostępnych w katalogu.</li>
          {% endfor %}

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div class="dotcontainer">
          {% for zdjecie in zdjecia %}
            <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
          {% endfor %}
        </div>
      
      </div>

      <div class="kreskapoziom"></div>

      <div class="opis">
      
        <div class="cechy">
        
          <div class="cecha">{% if usluga.czyFirma == 0 %}OSOBA PRYWATNA{% else %}FIRMA{% endif %}</div>
          <div class="cecha">{% if usluga.doNegocjacji == 0 %}CENA OSTATECZNA{% else %}DO NEGOCJACJI{% endif %}</div>
          <div class="cecha">{% if usluga.czyWymiana == 0 %}BRAK WYMIANY{% else %}WYMIANA{% endif %}</div>
        
        </div>

        <div class="opishead">OPIS</div>

        <div class="opisuslugi">
          {{ usluga.opisUslugi }}
        </div>

        <div class="kreskapozioma"></div>

      </div>

    </div>

    <div class="kreskapion"></div>

    <div class="userinfo">

      <div class="follow">
        <a href="{{ path('app_follow', {idFollow: usluga.id}) }}">
          {% if obserwowane %}
            <img class="followicon" src="{{ asset('images/unfollow.webp') }}">
          {% else %}
            <img class="followicon" src="{{ asset('images/follow.webp') }}">
          {% endif %}
        </a>
      </div>
    
      <div class="nazwauslugi">{{ usluga.nazwaUslugi }} </div>

      <div class="clear">
        <div class="datadodania">DODANO: {{ usluga.dataDodania|date('d.m.Y') }} </div>
        <div class="wyswietlenia">WYŚWETLENIA: {{ usluga.wyswietlenia }} </div>
      </div>

      <div class="kreska"></div>

      <div class="clear">
        <div class="infocena">CENA</div>
        <div class="infolokalizacja">LOKALIZACJA</div>
        <div class="prize">{{ usluga.cena }} {% if usluga.czyStawkaGodzinowa == 0 %}PLN{% else %}PLN/H{% endif %}</div>
        <div class="miasto">{{ usluga.uzytkownik.daneUzytkownika.miasto|upper }}</div>
      </div>

      <div class="kreska"></div>

        {% if app.user %}
          <a href="{{ path('app_zarezerwuj_usluge', {idUslugi: usluga.id}) }}"><div class="btn">ZAREZERWUJ</div></a>
        {% else %}
          <div class="btn disabled">ZAREZERWUJ</div>
        {% endif %}

    </div>

  </div>

  <script>
  
    let slideIndex = 1;
    showSlides(slideIndex);

    function myFunction(n) {
      console.log("Działa!");
      console.log(slideIndex);
    }

    function plusSlides(n) {
      slideIndex += n;
      showSlides(slideIndex);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "grid";
      dots[slideIndex-1].className += " active";
    }
  
  </script>

{% endblock %}
