{% extends 'base.html.twig' %}

{% block title %}Add skill{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

          <div class="col-lg-8 mx-auto">

            {{ form_start(form) }}

              <div class="">
                {{ form_label(form.title, 'Skill title:', {'label_attr': {'class': 'd-block fw-bold mt-5'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control border-1 border-black'}}) }}
                {{ form_errors(form.title) }}
              </div>

              <div class="">
                {{ form_label(form.level, 'Difficultie:', {'label_attr': {'class': 'd-block fw-bold mt-3'}}) }}
                {{ form_widget(form.level, {'attr': {'class': 'form-select border-1 border-black'}}) }}
                {{ form_errors(form.level) }}
              </div>

              <div class="">
                {{ form_label(form.description, 'Description:', {'label_attr': {'class': 'd-block fw-bold mt-3'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control border-1 border-black'}}) }}
                {{ form_errors(form.description) }}
              </div>

              <button type="submit" class="mt-2 btn btn-primary col-lg-12">Add skill!</button> 

            {{ form_end(form) }}  

          </div>
        
        </div>

    </div>

{% endblock %}
