{% extends 'base.html.twig' %}

{% block title %}ServiceHUB{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}


{% block body %}

  <div id="main">
  
    <div id="opis">
      <div id="opispierwszy">
        Miejsce, gdzie możesz ogłaszać usługi, dzielić talentami i odkrywać nowe możliwości
      </div>
      <div id="opisdrugi">
        Dołącz do nas i skorzystaj z bogactwa naszej społeczności!
      </div>
    </div>

    <div id="handshake">
      <img class="hand animate__animated animate__tada" src="{{ asset('images/hand_final.png') }}">
    </div>

  </div>

  <div id="search">
  
    <div id="wyszukaj">

      {{ form_start(szybkieSzukanieForm, {'action': path('app_skills_list')}) }}

        {{ form_widget(szybkieSzukanieForm.nazwaUslugi, {'attr': {'class': 'inputwyszukaj', 'placeholder': 'ZNAJDŹ COŚ, CO CIĘ INTERESUJE'}}) }}
        <button type="submit" id="btnwyszukaj">WYSZUKAJ</button>

      {{ form_end(szybkieSzukanieForm) }}
    
    </div>

    <div id="kreska"></div>

    <div id="promowanenapis">LOSOWE USŁUGI</div>
  
  </div>

  <div id="promowaneuslugi">
    
    <div id="boxlewo">
      <a href="{{ path('app_service_view', {idUslugi: losoweUslugi[0].id}) }} ">
        <div class="uslugilewo">
          {% set imagePath = 'zdjeciaUslug/' ~ losoweUslugi[0].uzytkownik.id ~ '/' ~ losoweUslugi[0].id ~ '/' ~ losoweUslugi[0].glowneZdjecie %}
          <img class="imgserviceleft" src="{{ asset(imagePath) }}">
          <div class="serivceopisleft">
            <div class="serviceopis textleft">{{ losoweUslugi[0].nazwaUslugi }}</div>
            <div class="servicecena textleft">{{ losoweUslugi[0].cena }} PLN{% if losoweUslugi[0].czyStawkaGodzinowa %}/H{% endif %}</div>
            <div class="servicedata textleft">{{ losoweUslugi[0].uzytkownik.daneUzytkownika.miasto }}<br>DODANO {{ losoweUslugi[0].dataDodania|date('d.m.Y') }}</div>   
          </div>
        
        </div>
      </a>

      <a href="{{ path('app_service_view', {idUslugi: losoweUslugi[1].id}) }} ">
        <div class="uslugilewo mgtop">
          {% set imagePath = 'zdjeciaUslug/' ~ losoweUslugi[1].uzytkownik.id ~ '/' ~ losoweUslugi[1].id ~ '/' ~ losoweUslugi[1].glowneZdjecie %}
          <img class="imgserviceleft" src="{{ asset(imagePath) }}">
          <div class="serivceopisleft">
            <div class="serviceopis textleft">{{ losoweUslugi[1].nazwaUslugi }}</div>
            <div class="servicecena textleft">{{ losoweUslugi[1].cena }} PLN{% if losoweUslugi[1].czyStawkaGodzinowa %}/H{% endif %}</div>
            <div class="servicedata textleft">{{ losoweUslugi[1].uzytkownik.daneUzytkownika.miasto }}<br>DODANO {{ losoweUslugi[1].dataDodania|date('d.m.Y') }}</div>   
          </div>
        
        </div>
      </a>
    </div>

    <div id="kreskaczarna"></div>

    <div id="boxprawo">
      <a href="{{ path('app_service_view', {idUslugi: losoweUslugi[2].id}) }} ">
        <div class="uslugiprawo">
          {% set imagePath = 'zdjeciaUslug/' ~ losoweUslugi[2].uzytkownik.id ~ '/' ~ losoweUslugi[2].id ~ '/' ~ losoweUslugi[2].glowneZdjecie %}
          <img class="imgserviceright" src="{{ asset(imagePath) }}">
          <div class="serivceopisright">
            <div class="serviceopis textright">{{ losoweUslugi[2].nazwaUslugi }}</div>
            <div class="servicecena textright">{{ losoweUslugi[2].cena }} PLN{% if losoweUslugi[2].czyStawkaGodzinowa %}/H{% endif %}</div>
            <div class="servicedata textright">{{ losoweUslugi[2].uzytkownik.daneUzytkownika.miasto }}<br>DODANO {{ losoweUslugi[2].dataDodania|date('d.m.Y') }}</div>   
          </div>
        
        </div>
      </a>

      <a href="{{ path('app_service_view', {idUslugi: losoweUslugi[3].id}) }} ">
        <div class="uslugiprawo mgtop">
          {% set imagePath = 'zdjeciaUslug/' ~ losoweUslugi[3].uzytkownik.id ~ '/' ~ losoweUslugi[3].id ~ '/' ~ losoweUslugi[3].glowneZdjecie %}
          <img class="imgserviceright" src="{{ asset(imagePath) }}">
          <div class="serivceopisright">
            <div class="serviceopis textright">{{ losoweUslugi[3].nazwaUslugi }}</div>
            <div class="servicecena textright">{{ losoweUslugi[3].cena }} PLN{% if losoweUslugi[3].czyStawkaGodzinowa %}/H{% endif %}</div>
            <div class="servicedata textright">{{ losoweUslugi[3].uzytkownik.daneUzytkownika.miasto }}<br>DODANO {{ losoweUslugi[3].dataDodania|date('d.m.Y') }}</div>   
          </div>
        
        </div>
      </a>
    </div>

  </div>

  <div id="statystyki">
  
    <div class="stat rt statleft">
    
      <div class="circle"><img src="{{ asset('images/klients.png') }}"></div>
      <div class="statopis">
        <div class="statnumber">{{ uzytkownicy|length }}</div>
        <div class="statname">ZADOWOLONYCH UŻYTKOWNIKÓW</div>
      </div>
    
    </div>

    <div class="statkreska rt2"></div>

    <div class="stat2 rt">
    
      <div class="circle"><img src="{{ asset('images/calender.png') }}"></div>
      <div class="statopis">
        <div class="statnumber">{{ rezerwacje|length }}</div>
        <div class="statname">WYKONANYCH REZERWACJI</div>
      </div>
    
    </div>

    <div class="statkreska rt2"></div>

    <div class="stat2">
    
      <div class="circle"><img src="{{ asset('images/service.png') }}"></div>
      <div class="statopis">
        <div class="statnumber">{{ wszystkieUslugi|length }}</div>
        <div class="statname">DOSTĘPNYCH USŁUG</div>
      </div>
    
    </div>
  
  </div>

  <script>
  
    function handShake(){
      if (window.location.pathname === '/main') {
        let z = document.getElementsByClassName('hand');
        if (z.length > 0) {
          z[0].classList.remove("animate__tada");
          setTimeout(function(){
            z[0].classList.add("animate__tada");
          }, 2000);
        }
      }
    }

    setInterval(handShake, 10000);
  
  </script>

{% endblock %}
