{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - ZAREZERWUJ{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/zarezerwuj_usluge.css') }}">
{% endblock %}

{% set imagePath = 'zdjeciaUslug/' ~ service.uzytkownik.id ~ '/' ~ service.id ~ '/' ~ service.glowneZdjecie %}

{% block body %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://npmcdn.com/flatpickr/dist/l10n/pl.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  
  <div id="search">

    <div class="back"><a href="{{ path('app_service_view', {idUslugi: service.id}) }} "><div class="backdiv"><span class="backarrow">&#10094;</span>&nbsp;&nbsp;&nbsp;WRÓĆ</div></a></div>
    
  </div>

  <div class="alerts">
  
    {% for flash_msg in app.flashes('success') %}
      <div class="success">{{ flash_msg|upper }}</div>
    {% endfor %}

    {% for flash_msg in app.flashes('error') %}
      <div class="error">{{ flash_msg|upper }}</div>
    {% endfor %}
  
  </div>

  <div class="rezerwacja">
  
    <div class="ogloszenia">

      <div class="ogloszenie">
            
        <img class="zdjecie" src="{{ asset(imagePath) }}" onerror="this.src='{{ asset("images/alt_image.jpg") }}'" alt="Brak zdjęcia!">

        <div class="opis">
          <div class="tytul">{{ service.nazwaUslugi|upper }}</div>
          
          <div class="uslugainfo">
            <div class="lokalizacja">{{ service.uzytkownik.daneUzytkownika.miasto|upper }}</div>
            <div class="data">DODANO {{ service.dataDodania|date('d.m.Y') }}</div>
            <div class="cena">{{ service.cena }} PLN{% if service.czyStawkaGodzinowa == 1 %}/H{% endif %}</div>
          </div>
        </div>

      </div>

      <div class="trademark"><img src=" {{ asset('images/tradeicon.png') }} " class="trade"></div>

      <div class="ogloszenietrade" id="ogloszenie">
      
        <img class="zdjecie" onerror="this.src='{{ asset("images/alt_image.jpg") }}'" alt="Brak zdjęcia!" id="ogloszenie-img">

        <div class="opis">
          <div class="tytul" id="ogloszenie-tytul"></div>
          
          <div class="uslugainfo">
            <div class="lokalizacja" id="ogloszenie-lokalizacja"></div>
            <div class="data" id="ogloszenie-data"></div>
            <div class="cena" id="ogloszenie-cena"></div>
          </div>
        </div>

      </div>

    </div>

    {{ form_start(reservationForm) }}

      <div class="boxes">

        {% if service.czyWymiana == 0 %}
          <div class="empty"></div>
        {% endif %}

        <div class="wiadomoscbox">NAPISZ WIADOMOŚĆ: {{ form_widget(reservationForm.czyWiadomosc, {'attr': {'class': 'chck_msg event1'}}) }}</div>

        {% if service.czyWymiana == 1 %}
          <div class="wiadomoscbox ml">WYMIANA: {{ form_widget(reservationForm.wymiana, {'attr': {'class': 'chck_msg event2'}}) }}</div>
        {% else %}
          <div class="wiadomoscbox ml display">WYMIANA: {{ form_widget(reservationForm.wymiana, {'attr': {'class': 'chck_msg event2 display'}}) }}</div>
        {% endif %}

        <div class="wiadomoscbox ml">UDOSTĘPNIJ NR TELEFONU: {{ form_widget(reservationForm.udostepnijTelefon, {'attr': {'class': 'chck_msg'}}) }}</div>

      </div>

      <div class="box">
      
        {{ form_widget(reservationForm.uslugaNaWymiane, {'attr': {'class': 'select', 'data-moje-uslugi': userServicesJson }} ) }}

      </div>

      <div class="kalendarz">

        {{ form_widget(reservationForm.odKiedy, {'attr': {'class': 'form-control mr rez unset'}, 'id': 'datePicker'} )}}
        <div class="gap"></div>
        {{ form_widget(reservationForm.doKiedy, {'attr': {'class': 'form-control rez unset'}, 'id': 'datePicker'} )}}

      </div>

      {{ form_widget(reservationForm.wiadomosc, {'attr': {'class': 'wiadomość unset'}}) }}

      <button type="submit" class="btndodaj" name="zarezerwuj">ZAREZERWUJ</button>

    {{ form_end(reservationForm) }}

  </div>

  <script>

    document.addEventListener('DOMContentLoaded', () => {
      flatpickr("#datePicker", {
        dateFormat: "Y-m-d",
        enableTime: 'false',
        minDate: 'today'
      });
    });

    document.querySelector('.event1').addEventListener('change', function() {
      const messageBox = document.querySelector('.wiadomość');
      
      if (this.checked) {
        messageBox.style.display = 'block';
      } else {
        messageBox.style.display = 'none';
      }
    });

    document.querySelector('.event2').addEventListener('change', function() {
      const trade = document.querySelector('.trademark');
      const ogloszenietrade = document.querySelector('.ogloszenietrade');
      const ogloszenie = document.querySelector('.ogloszenie');
      const uslugi = document.querySelector('.box');
      
      if (this.checked) {
        trade.style.display = 'block';
        ogloszenietrade.style.display = 'block';
        uslugi.style.display = 'block';

        if (window.innerWidth > 1480) {
          ogloszenie.style.float = "left";
          ogloszenie.style.margin = "none";
        }

      } else {
        trade.style.display = 'none';
        ogloszenietrade.style.display = 'none';
        ogloszenie.style.float = "none";
        ogloszenie.style.margin = "auto";
        uslugi.style.display = 'none';
      }
    });

    const selectElement = document.querySelector('.select');
    const userServices = JSON.parse(selectElement.getAttribute('data-moje-uslugi'));
    const ogloszenieDiv = document.getElementById('ogloszenie');
    const tytulDiv = document.getElementById('ogloszenie-tytul');
    const lokalizacjaDiv = document.getElementById('ogloszenie-lokalizacja');
    const dataDiv = document.getElementById('ogloszenie-data');
    const cenaDiv = document.getElementById('ogloszenie-cena');
    const imgElement = document.getElementById('ogloszenie-img');

    function updateOgloszenie(index) {
      const serviceItem = userServices[index];
      if (serviceItem) {
        tytulDiv.textContent = serviceItem.nazwaUslugi;
        lokalizacjaDiv.textContent = serviceItem.uzytkownik.daneUzytkownika.miasto;
        dataDiv.textContent = `DODANO ${new Date(serviceItem.dataDodania).toLocaleDateString('pl-PL')}`;
        cenaDiv.textContent = `${serviceItem.cena} PLN${serviceItem.czyStawkaGodzinowa ? '/H' : ''}`;
        imgElement.src = `/servicehub/public/zdjeciaUslug/${serviceItem.uzytkownik.id}/${serviceItem.id}/${serviceItem.glowneZdjecie}`;
      }
    }

    selectElement.addEventListener('change', (e) => {
      const selectedIndex = e.target.selectedIndex;
      updateOgloszenie(selectedIndex);
    });

    updateOgloszenie(0);

  </script>
    

{% endblock %}
