{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - USŁUGI{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/services_list.css') }}">
{% endblock %}

{% block body %}
    <div id="search">

      {{ form_start(wyszukiwanieForm, {'action': path('app_filtrowane_uslugi_list')}) }}

        <div id="wyszukaj">

          {{ form_widget(wyszukiwanieForm.nazwaUslugi, {'attr': {'class': 'nazwa', 'placeholder': 'ZNAJDŹ COŚ, CO CIĘ INTERESUJE'}}) }}
          <div id="kreska_pion"></div>
          {{ form_widget(wyszukiwanieForm.lokalizacja, {'attr': {'class': 'lokalizacja2', 'placeholder': 'LOKALIZACJA'}}) }}
          <div id="suggestions"></div>
          <button type="submit" class="done anim">WYSZUKAJ</button>

        </div>

        <div id="filtry">FILTRY</div>
        <div id="sets">
            <div id="opisy">
                <div id="kat">KATEGORIA</div>
                <div id="cena">CENA</div>
                <div id="km">DYSTANS</div>
            </div>
            <div id="inputy">

              {{ form_widget(wyszukiwanieForm.kategorie, {'attr': {'class': 'kat_input'}}) }}

                <div id="cena_input">
                  {{ form_widget(wyszukiwanieForm.cenaMin, {'attr': {'class': 'price', 'placeholder': 'MIN'}}) }}
                  {{ form_widget(wyszukiwanieForm.cenaMax, {'attr': {'class': 'price ml', 'placeholder': 'MAX'}}) }}
                </div>

                <div id="km_input">
                  {{ form_widget(wyszukiwanieForm.dystans, {'attr': {'class': 'km', 'placeholder': '+0KM'}}) }}
                </div>

                <a href="{{ path('app_filter_reset') }}"><div class="done reset anim2">WYCZYŚĆ</div></a>

            </div>
        </div>

      {{ form_end(wyszukiwanieForm) }}

    </div>

    <div class="alerts">
  
      {% for flash_msg in app.flashes('success') %}
        <div class="success">{{ flash_msg|upper }}</div>
      {% endfor %}

      {% for flash_msg in app.flashes('error') %}
        <div class="error">{{ flash_msg|upper }}</div>
      {% endfor %}
    
    </div>

    <div id="list" class="{% if uslugi|length == 0 %}last{% endif %}">
        <div id="number">ZNALEZIONO {{ uslugi|length }} OGŁOSZEŃ</div>
        <div id="kreska"></div>
        <div id="reklama">REKLAMA</div>
        <div id="okno">MIEJSCE DLA REKLAMODAWCY</div>
    </div>

    

    <div class="container">
    
      {% for usluga in uslugi %}
        <a class="link" href="{{ path('app_service_view', {idUslugi: usluga.id}) }}">
          <div class="ogloszenie 
            {% if uslugi|length == 1 %}
              top last
            {% elseif loop.first and uslugi|length == 2 %}
              top
            {% elseif loop.last and uslugi|length == 2 %}
              last
            {% elseif loop.first and uslugi|length >= 3 %}
              top
            {% elseif loop.last and uslugi|length >= 3 %}
              last
            {% endif %}">
            
            {% set imagePath = 'zdjeciaUslug/' ~ usluga.uzytkownik.id ~ '/' ~ usluga.id ~ '/' ~ usluga.glowneZdjecie %}
            <img class="zdjecie" src="{{ asset(imagePath) }}" onerror="this.src='{{ asset("images/alt_image.jpg") }}'" alt="Brak zdjęcia!">

            <div class="opis">
              <div class="tytul">{{ usluga.nazwaUslugi|upper }}</div>
              <div class="lokalizacja">{{ usluga.uzytkownik.daneUzytkownika.miasto|upper }}</div>
              <div class="data">DODANO {{ usluga.dataDodania|date('d.m.Y') }}</div>
            </div>
            <div class="prawo">
              
              <div class="follow">
                <a href="{{ path('app_follow', {idFollow: usluga.id}) }}">
                  
                  {% set found = false %}
                  {% if obserwowane %}
                    {% for obserwacja in obserwowane %}
                      {% if obserwacja.usluga.id == usluga.id %}
                        {% set found = true %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if found %}
                    <img class="followicon" src="{{ asset('images/unfollow.webp') }}">
                  {% else %}
                    <img class="followicon" src="{{ asset('images/follow.webp') }}">
                  {% endif %}

                </a>
              </div>
              
              <div class="cena">{{ usluga.cena }} PLN{% if usluga.czyStawkaGodzinowa %}/H{% endif %}</div>

            </div>
          </div>
        </a>
      {% endfor %}

    </div>

{% endblock %}
