<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ServiceHUB - RESET{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    
    </head>
    <body>

        <div id="container">
            
            <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>

            <div id="emailbox">

                <a href="{{path('app_login')}}"><div id="back"><img src="{{asset('images/back.png')}}"></div></a>   

                <div class="alerts">
                
                    {% for flash_error in app.flashes('success') %}
                        <div class="success">{{ flash_error }}</div>
                    {% endfor %}

                    {% for flash_error in app.flashes('error') %}
                        <div class="error">{{ flash_error }}</div>
                    {% endfor %}

                    {% for error in form.vars.errors.form.getErrors(true) %}
                        {% if loop.index == 1 %}
                            <div class="error">{{ error.message|upper }}</div>
                        {% endif %}
                    {% endfor %}
                
                </div>             
                
                {{ form_start(form) }}

                    <div class="name">E-MAIL:</div>
                    {{ form_widget(form.email, {'attr': {'class': 'logininput', 'placeholder': 'WPISZ SWÓJ EMAIL...'}}) }}

                    <button type="submit" id="btnzaloguj" class="mt-10">WYŚLIJ WIADOMOŚĆ</button>

                {{ form_end(form) }}

            </div>

        </div>
        
    </body>

</html>
