<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ServiceHUB - ZALOGUJ{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    
    </head>
    <body>

        <div id="container">
            
            <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>

            <div id="loginbox">
                
                <div id="buttons">
                    <div id="btnlogin">ZALOGUJ</div>
                    <a href="{{path('app_register')}}"><div id="btnregister">ZAREJESTRUJ</div></a>
                </div>

                <div id="kreska"></div>

                <div class="alerts">
                
                    {% for flash_msg in app.flashes('success') %}
                        <div class="success">{{ flash_msg|upper }}</div>
                    {% endfor %}

                    {% if error %}
                        <div class="error">NIEPROWIDŁOWE EMAIL LUB HASŁO</div>
                    {% endif %}

                    {% if not error %}
                        {% for error in loginForm.vars.errors.form.getErrors(true) %}
                            {% if loop.index == 1 %}
                                <div class="error">{{ error.message|upper }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                
                </div>

                {{ form_start(loginForm) }}

                    <div class="name mt">E-MAIL:</div>
                    {{ form_widget(loginForm.email, {'attr' : {'value': lastUsername ? lastUsername, 'class': 'logininput', 'placeholder': 'WPISZ SWÓJ EMAIL...'}}) }}

                    <div class="name mtpswd">HASŁO:</div>
                    {{ form_widget(loginForm.password, {'attr' : {'class': 'logininput', 'placeholder': 'WPISZ SWÓJE HASŁO...'}}) }}

                    <a href="{{path('app_send_email')}}"><div class="name rem">NIE PAMIĘTASZ HASŁA?</div></a>

                    <button type="submit" id="btnzaloguj">ZALOGUJ</button>

                {{ form_end(loginForm) }}


            </div>

        </div>
        
    </body>

</html>
