<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ServiceHUB - ZAREJESTRUJ{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    
    </head>
    <body>

        <div id="container">
            
            <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>

            <div id="registerbox">
                
                <div id="buttons">
                    <a href="{{path('app_login')}}"><div id="btnlogin">ZALOGUJ</div></a>
                    <div id="btnregister">ZAREJESTRUJ</div>
                </div>

                <div id="kreska"></div>

                <div class="alerts">
                    {% for error in registrationForm.vars.errors.form.getErrors(true) %}
                        {% if loop.index == 1 %}
                            <div class="error">{{ error.message|upper }}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                {{ form_start(registrationForm) }}
                
                    <div class="name mt">E-MAIL:</div>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'logininput', 'placeholder': 'WPISZ SWÓJ E-MAIL'}}) }}

                    <div class="name mtpswd">HASŁO:</div>
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'logininput', 'placeholder': 'WPISZ HASŁO'}}) }}

                    <div class="name mtpswd">POWTÓRZ HASŁO:</div>
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'logininput', 'placeholder': 'POWTÓRZ HASŁO'}}) }}

                    <div class="name check">{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox'}}) }}<div id="accept">AKCEPTUJE REGULAMIN</div></div>

                    <button type="submit" id="btnzaloguj">ZAREJESTRUJ</button>

                {{ form_end(registrationForm) }}

            </div>

        </div>
        
    </body>

</html>
