<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ServiceHUB - ZALOGUJ{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    
    </head>
    <body>

        <div id="container">
            
            <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>

            <div id="changepswd">

                <div class="alerts">
                
                    {% for flash_msg in app.flashes('success') %}
                        <div class="success">{{ flash_msg|upper }}</div>
                    {% endfor %}

                    {% for error in form.vars.errors.form.getErrors(true) %}
                        {% if loop.index == 1 %}
                            <div class="error">{{ error.message|upper }}</div>
                        {% endif %}
                    {% endfor %}
            
                </div>

                {{ form_start(form) }}

                    <div class="name mt">HASŁO:</div>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'logininput', 'placeholder': 'WPISZ NOWE HASŁO...'}}) }}

                    <div class="name mtpswd">POWTÓRZ HASŁO:</div>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'logininput', 'placeholder': 'POWTÓRZ NOWE HASŁO...'}}) }}

                    <button type="submit" id="btnzaloguj">ZRESETUJ</button>

                {{ form_end(form) }}

            </div>

        </div>
        
    </body>

</html>
