<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ServiceHUB - ZALOGUJ{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    
    </head>
    <body>

        <div id="container">
            
            <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>

            <div id="changepswd">

                {% for flash_error in app.flashes('success') %}
                    <div class="success">{{ flash_error }}</div>
                {% endfor %}

                {% for flash_error in app.flashes('error') %}
                    <div class="error">{{ flash_error }}</div>
                {% endfor %}
                
                <form action="{{ path('app_reset_password', {id: user.id}) }}" method="POST">

                    <div class="name mt">HASŁO:</div>
                    <input type="password" name="password" class="logininput" placeholder="WPISZ SWÓJE NOWE HASŁO">

                    <div class="name mtpswd">POWTÓRZ HASŁO:</div>
                    <input type="password" name="passwordRepeat" class="logininput" placeholder="POWTÓRZ HASŁO">

                    <button type="submit" id="btnzaloguj">ZRESETUJ</button>

                </form>

            </div>

        </div>
        
    </body>

</html>
