{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - MOJE USŁUGI{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ asset('css/moje_uslugi.css') }}">
{% endblock %}

{% block body %}

  <div id="menu">
  
    <div id="setts">
      
      <a href="{{path('app_myservices')}}"><div class="przycisk {% if app.request.pathinfo == "/myservices" %}clicked{% endif %}">MOJE USŁUGI</div></a>
      <a href="{{path('app_rezerwacje')}}"><div class="przycisk">REZERWACJE I WYMIANY</div></a>
      <a href="{{path('app_profile')}}"><div class="przycisk">DANE</div></a>
      <a href="{{path('app_obserwowane')}}"><div class="przycisk">OBSERWOWANE</div></a>

    </div>
  
  </div>

  <div class="alerts">
  
    {% for flash_msg in app.flashes('success') %}
      <div class="success">{{ flash_msg|upper }}</div>
    {% endfor %}

    {% for flash_msg in app.flashes('error') %}
      <div class="error">{{ flash_msg|upper }}</div>
    {% endfor %}
  
  </div>

  <div id="container">

    <div id="list" class="{% if uslugiUzytkownika|length == 0 %}last{% endif %}">
    {% for usluga in uslugiUzytkownika %}

          <div class="ogloszenie 
            {% if uslugiUzytkownika|length == 1 %}
              top last
            {% elseif loop.first and uslugiUzytkownika|length == 2 %}
              top
            {% elseif loop.last and uslugiUzytkownika|length == 2 %}
              last
            {% elseif loop.first and uslugiUzytkownika|length >= 3 %}
              top
            {% elseif loop.last and uslugiUzytkownika|length >= 3 %}
              last
            {% endif %}">
            
            {% set imagePath = 'zdjeciaUslug/' ~ usluga.uzytkownik.id ~ '/' ~ usluga.id ~ '/' ~ usluga.glowneZdjecie %}
            <a href="{{ path('app_service_view', {idUslugi: usluga.id}) }}"><img class="zdjecie" src="{{ asset(imagePath) }}" onerror="this.src='{{ asset("images/alt_image.jpg") }}'" alt="Brak zdjęcia!">

            <div class="opis">
              <div class="tytul">{{ usluga.nazwaUslugi|upper }}</div>
              
              <div class="uslugainfo">
                <div class="lokalizacja">{{ usluga.uzytkownik.daneUzytkownika.miasto|upper }}</div>
                <div class="data">DODANO {{ usluga.dataDodania|date('d.m.Y') }}</div>
                <div class="cena">{{ usluga.cena }} PLN{% if usluga.czyStawkaGodzinowa == 1 %}/H{% endif %}</div>
              </div>
            </div></a>
            <div class="prawo">
              <a href="{{ path('app_add_edit_service', {idUslugi: usluga.id}) }}"><div class="edytuj"><img class="edytujimg" src="{{ asset('images/edit_icon.png') }}"></div></a>
              <a href="{{ path('app_delete_service', {idUslugi: usluga.id}) }}"><div class="usun"><img class="usunimg" src="{{ asset('images/delete_icon.png') }}"></div>
            </div>
          </div>
        {% endfor %}

      </div>
  
  </div>

{% endblock %}
