{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - OBSERWOWANE{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ asset('css/obserwowane.css') }}">
{% endblock %}

{% block body %}

  <div id="menu">
  
    <div id="setts">
      
      <a href="{{path('app_myservices')}}"><div class="przycisk {% if app.request.pathinfo == "/myservices" %}clicked{% endif %}">MOJE USŁUGI</div></a>
      <a href="{{path('app_rezerwacje')}}"><div class="przycisk">REZERWACJE I WYMIANY</div></a>
      <a href="{{path('app_profile')}}"><div class="przycisk">DANE</div></a>
      <a href="{{path('app_obserwowane')}}"><div class="przycisk clicked">OBSERWOWANE</div></a>

    </div>
  
  </div>

  <div class="alerts">
  
    {% for flash_msg in app.flashes('success') %}
      <div class="success">{{ flash_msg|upper }}</div>
    {% endfor %}

    {% for flash_msg in app.flashes('error') %}
      <div class="error">{{ flash_msg|upper }}</div>
    {% endfor %}
  
  </div>

  <div class="container">

    {% for observedService in observedServices %}
      <a class="link" href="{{ path('app_service_view', {idUslugi: observedService.id}) }}">
        <div class="ogloszenie 
          {% if observedServices|length == 1 %}
            top last
          {% elseif loop.first and observedServices|length == 2 %}
            top
          {% elseif loop.last and observedServices|length == 2 %}
            last
          {% elseif loop.first and observedServices|length >= 3 %}
            top
          {% elseif loop.last and observedServices|length >= 3 %}
            last
          {% endif %}">
          
          {% set imagePath = 'zdjeciaUslug/' ~ observedService.uzytkownik.id ~ '/' ~ observedService.id ~ '/' ~ observedService.glowneZdjecie %}
          <div class="center"><img class="zdjecie" src="{{ asset(imagePath) }}" onerror="this.src='{{ asset("images/alt_image.jpg") }}'" alt="Brak zdjęcia!"></div>

          <div class="opis">
            <div class="tytul">{{ observedService.nazwaUslugi|upper }}</div>
            <div class="lokalizacja">{{ observedService.uzytkownik.daneUzytkownika.miasto|upper }}</div>
            <div class="data">DODANO {{ observedService.dataDodania|date('d.m.Y') }}</div>
          </div>
          <div class="prawo">
            
            <div class="follow">
              <a href="{{ path('app_follow', {idFollow: observedService.id}) }}">
                <img class="followicon" src="{{ asset('images/unfollow.webp') }}">
              </a>
            </div>
            
            <div class="cena">{{ observedService.cena }} PLN{% if observedService.czyStawkaGodzinowa %}/H{% endif %}</div>

          </div>
        </div>
      </a>
    {% endfor %}
  
  </div>

{% endblock %}
