{% extends 'base.html.twig' %}

{% block title %}ServiceHUB - PROFIL{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}

  <div id="menu">
  
    <div id="setts">
      
      <a href="{{path('app_myservices')}}"><div class="przycisk">USŁUGI</div></a>
      <div class="przycisk">WIADOMOŚCI</div>
      <div class="przycisk">OCENY</div>
      <a href="{{path('app_profile')}}"><div class="przycisk {% if app.request.pathinfo == "/profile" %}clicked{% endif %}">DANE</div></a>
      <div class="przycisk">USTAWIENIA</div>

    </div>
  
  </div>

  <div id="info">

    <div class="errorinfo">

      {% set break = false %}
      {% for child in daneForm.children %}
        {% for error in child.vars.errors %}
          {% if not break %}
            <div class="error-message">
                {{ error.message }}
            </div>
          {% endif %}
          {% set break = true %}
        {% endfor %}
      {% endfor %}
    
    </div>

    <div id="all">

      {{ form_start(daneForm) }}

        {{ form_errors(daneForm) }}

        <div class="box">
        
          <div class="opis left pd">IMIE</div>
          <div class="opis right pd">NAZWISKO</div>
        
        </div>

        <div class="box">

          {{ form_widget(daneForm.imie, {'attr': {'class': 'dane left', 'placeholder': 'PODAJ IMIE...'}}) }}

          {{ form_widget(daneForm.nazwisko, {'attr': {'class': 'dane right', 'placeholder': 'PODAJ NAZWISKO...'}}) }}

        </div>

        <div class="box">
        
          <div class="opis left pd">ULICA</div>
          <div class="opis right pd">NUMER DOMU</div>
        
        </div>

        <div class="box">

          {{ form_widget(daneForm.miejscowosc, {'attr': {'class': 'dane left', 'placeholder': 'PODAJ IMIE...'}}) }}
          {{ form_widget(daneForm.numer_domu, {'attr': {'class': 'dane right', 'placeholder': 'PODAJ NAZWISKO...'}}) }}

        </div>

        <div class="box">
        
          <div class="opis left pd">KOD POCZTOWY</div>
          <div class="opis right pd">MIASTO</div>
        
        </div>

        <div class="box">

          {{ form_widget(daneForm.kod_pocztowy, {'attr': {'class': 'dane left', 'placeholder': 'PODAJ IMIE...'}}) }}
          {{ form_widget(daneForm.miasto, {'attr': {'class': 'dane right', 'placeholder': 'PODAJ NAZWISKO...'}}) }}

        </div>

        <div class="box">
        
          <div class="opis left pd">TELEFON</div>
        
        </div>

        <div class="box">

          {{ form_widget(daneForm.telefon, {'attr': {'class': 'dane left', 'placeholder': 'PODAJ IMIE...'}}) }}

        </div>

        <button type="submit" id="btnzaloguj">ZAPISZ</button>

      {{ form_end(daneForm) }}

    </div>
  
  </div>
    

{% endblock %}
