<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('images/sh.png') }}">

        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        {% block css %}{% endblock %}
    
    </head>
    <body>

        <div id="container">

            {% block navbar %}
                <div id="navbar">
                    <div id="logo"><a href="{{path('app_main')}}">ServiceHUB</a></div>
                    {% if app.user %}
                        <a href="{{path('app_add_edit_service')}}"><div id="dodaj" class="burst">DODAJ USŁUGĘ</div></a>
                        <a href="{{path('app_logout')}}"><div id="zaloguj" class="burst">WYLOGUJ</div></a>
                        <a href="{{path('app_myservices')}}"><div id="konto" class="burst"><img src="{{asset('images/profil.png')}}"></div></a>
                        <a href="{{path('app_skills_list')}}"><div id="lista" class="burst">LISTA USŁUG</div></a>
                    {% else %}
                        <a href="{{path('app_login')}}"><div id="dodaj" class="burst">DODAJ USŁUGĘ</div></a>
                        <a href="{{path('app_login')}}"><div id="zaloguj" class="burst">ZALOGUJ</div></a>
                        <a href="{{path('app_skills_list')}}"><div id="lista" class="burst">LISTA USŁUG</div></a>
                    {% endif %}

                    <div id="hamburger">
                    
                        <div class="ham"></div>
                        <div class="ham"></div>
                        <div class="ham"></div>
                    
                    </div>

                </div>
            {% endblock %}
        
            {% block body %}
        
            {% endblock %}

            {% block footer %}
                <div id="footer">
                    <div id="napisfooter">WSZELKIE PRAWA ZASTZREŻONE &copy;</div>
                </div>
            {% endblock %}

        </div>

        <script src="{{ asset('js/script.js') }}"></script>

        <script>
        
            const hamburger = document.getElementById('hamburger');
            const navbar = document.getElementById('navbar');
            const dodaj = document.getElementById('dodaj');
            const lista = document.getElementById('lista');
            const konto = document.getElementById('konto');
            const zaloguj = document.getElementById('zaloguj');

            document.addEventListener('DOMContentLoaded', () => {
                hamburger.addEventListener('click', () => {
                    if(!navbar.classList.contains('opened')){
                        navbar.classList.add('opened');
                        navbar.style.height = '400px';
                        setTimeout(() => {
                            dodaj.style.display = 'block';
                            lista.style.display = 'block';
                            zaloguj.style.display = 'block';
                            konto.style.display = 'block';
                        }, 400);
                    }else{
                        navbar.classList.remove('opened');
                        navbar.style.height = '100px';
                        dodaj.style.display = 'none';
                        lista.style.display = 'none';
                        zaloguj.style.display = 'none';
                        konto.style.display = 'none';
                    }
                });
            });

            function removeInlineStyle() {
                if (window.innerWidth > 1335) {
                    navbar.classList.remove('opened');
                    navbar.removeAttribute('style');
                    dodaj.removeAttribute('style');
                    lista.removeAttribute('style');
                    konto.removeAttribute('style');
                    zaloguj.removeAttribute('style');
                }
            }
            document.addEventListener('DOMContentLoaded', removeInlineStyle);
            window.addEventListener('resize', removeInlineStyle);

        </script>
        
    </body>
</html>
